/* App.css */

.App {
  text-align: center;
  background: url('/public/background-memory.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh; /* Wysokość na całą wysokość okna */
  margin: 0; /* Usuwa marginesy, aby wypełnić całe okno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  color: #fff; /* Kolor tekstu nagłówka */
}

.counters {
  margin-bottom: 20px; /* Odstęp między licznikami a planszą */
  color: #fff; /* Kolor tekstu liczników */
}

p {
  margin: 5px 0;
  font-size: 1.2em; /* Większa czcionka dla liczników */
}

/* Board styles */
.board {
  display: grid;
  grid-template-columns: repeat(6, 100px); /* 6 kolumn */
  grid-template-rows: repeat(4, 100px); /* 4 wiersze */
  grid-gap: 10px;
  justify-content: center;
}

/* Tile styles */
.tile {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 1000px; /* Umożliwia widok 3D */
  cursor: pointer;
  overflow: hidden; /* Ukrywa zawartość wychodzącą poza kafelek */
}

.tile-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s; /* Czas trwania animacji */
  transform-style: preserve-3d; /* Umożliwia efekty 3D */
}

.tile-cover, .tile-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s, box-shadow 0.6s;
}

.tile-cover {
  background: url('/public/top-lid.png') no-repeat center center;
  background-size: cover;
  z-index: 2; /* Ustawia przykrywkę nad zawartością */
  transform-origin: bottom; /* Punkt obrotu */
}

.tile-content {
  background-size: cover;
  z-index: 1; /* Ustawia zawartość poniżej przykrywki */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(0); /* Początkowa pozycja */
}

.tile.flipped .tile-inner {
  transform: rotateX(0deg); /* Ustawienie rotacji na 0 dla lepszej animacji */
}

.tile.flipped .tile-cover {
  transform: translateY(-100%) translateX(100%); /* Przesuwa przykrywkę poza planszę */
  z-index: 0; /* Ustawia przykrywkę poniżej zawartości */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dodaje cień */
}

.tile.flipped .tile-content {
  transform: translateZ(0); /* Ustawia zawartość na wierzchu */
  z-index: 1; /* Ustawia zawartość nad przykrywką */
}
